body, body * {
    margin: 0;
    padding: 0;
}

.product-list {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

button {
    border: 0px;
    background-color: transparent;
    width: 10rem;
    height: 10rem;
}

button img {
    width: 8rem;
}

.product-list > * {
    display: block;
    position: absolute;
    bottom: 0;
    margin: -3em;
}

.product-list .product-plant:nth-child(1) {
    -webkit-transform: rotate(0deg) translate(25em) rotate(0deg);
    transform: rotate(0deg) translate(25em) rotate(0deg);
}

.product-list .product-plant:nth-child(2) {
    -webkit-transform: rotate(45deg) translate(25em) rotate(-45deg);
    transform: rotate(45deg) translate(25em) rotate(-45deg);
}

.product-list .product-plant:nth-child(3) {
    -webkit-transform: rotate(90deg) translate(25em) rotate(-90deg);
    transform: rotate(90deg) translate(25em) rotate(-90deg);
  }
  .product-list .product-plant:nth-child(4) {
    -webkit-transform: rotate(135deg) translate(25em) rotate(-135deg);
    transform: rotate(135deg) translate(25em) rotate(-135deg);
  }
  .product-list .product-plant:nth-child(5) {
    -webkit-transform: rotate(180deg) translate(25em) rotate(-180deg);
    transform: rotate(180deg) translate(25em) rotate(-180deg);
  }
  .product-list .product-plant:nth-child(6) {
    -webkit-transform: rotate(225deg) translate(25em) rotate(-225deg);
    transform: rotate(225deg) translate(25em) rotate(-225deg);
  }
  .product-list .product-plant:nth-child(7) {
    -webkit-transform: rotate(270deg) translate(25em) rotate(-270deg);
    transform: rotate(270deg) translate(25em) rotate(-270deg);
  }
  .product-list .product-plant:nth-child(8) {
    -webkit-transform: rotate(315deg) translate(25em) rotate(-315deg);
    transform: rotate(315deg) translate(25em) rotate(-315deg);
  }