@import url('http://fonts.cdnfonts.com/css/bhavuka');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/contenedor-info.css');
@import url('components/contenedor-planta.css');
@import url('components/responsive.css');

body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

div.background {
    height: 100vh;
    background-color: #fcf5edaf;
    z-index: -99;
}

.bg-image {
    position: absolute;
    width: 140%;
    top: -15%;
    left: -30%;
    z-index: -100;
}

main div {
    height: 30vh;
    width: 100%; 
}