@import url('http://fonts.cdnfonts.com/css/bhavuka');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/contenedor-planta.css');
@import url('components/contenedor-img.css');
@import url('components/responsive.css');
@import url('components/botones.css');

body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    height: 100vh;
    background-image: radial-gradient(rgba(235, 230, 214, 0.9) 40.77%, rgba(230, 216, 168, 0.9) 100%), url(/assets/img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*overflow: hidden;*/
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

