.contenedor-amarillo {
    width: 200vw;
    height: 150vw;
    background-color: #E3C065;
    border-radius: 50% 50% 0 0;
    position: relative;
    left: -48%;
    z-index: 1;
    bottom: 400px;
}
    
.resplandor {
    height: 0;
    width: 0;
}

.info-planta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 45%);
    box-shadow: inset -1px -30px 40px -10px white;
    border-radius: 30px;
    width: 300px;
    height: 250px;
    position: relative;
    right: -30px;
}

.subtitulo-planta {
    color: white;
    font-weight:100;
    margin: 0;
    padding: 0;
}

.titulo-planta {
    color: #385C0A;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.precio-planta {
    color: #385C0A;
    font-weight: 900;
    font-size: 15vw;
    margin: 0;
    padding: 0;  
}

hr {
    width: 40px;
    border: 3px #7E9357 solid;
    margin-top: 1px;
    margin-right: 143px;
        
  }

.paragrafo-planta {
    color: #385C0A;
    font-size: 4vw;
    font-weight: 300;
    text-align: center;
}

.camara-icon, .corazon-icon {
    height: 13vw;
    width: 13vw;
    border-radius: 50px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 0.5vw white;
    position: absolute;
    font-size: 100px;
}

.corazon-icon {
    right: 20%;
    top: 20%;
}

.camara-icon {
    right: 20%;
    top: 45%;
} 

.contenedor-planta {
    position: relative;
    
}

.fa-camera {
    
}

.i-camara {
    font-size: 100px;
}

