
.contenedor-amarillo {
    width: 130vw;
    height: 500px;
    background: linear-gradient(0deg, rgba(227,192,101,1) 0%, rgba(22, 22, 22, 0.1) 90%), rgba(227,192,101,1);
    border-radius: 100%;
    position: absolute;
    top: 35%;
    }  

.contenedor-planta {
    z-index: 10;
    position: relative;
    top: -10vh;
    display: flex;
    justify-content: center;
}

.valoracion-planta{
    width: 11vw;
    height: 11vw;
    font-size: 3vw;
    border-radius: 100%;
    border: none;    
    background-color: #fff;
    color: #808080;
    position: absolute;
    top: -35px;
    left: 46%;
}

div.star i.fas {
    font-size: 4vw;
    color: #E3C065;
    position: absolute;
    top: -1vw;
    right: -1vw;
}

.info-planta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 80%);
    border-radius: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
    
}

.subtitulo-planta {
    color: white;
    font-size: 3.5vw;
    font-weight:100;
    margin: 0;
    padding: 0;
}

.titulo-planta {
    color: #385C0A;
    font-size: 4vw;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.precio-planta {
    color: #385C0A;
    font-weight: 900;
    font-size: 10vw;
    margin: 0;
    padding: 0;  
}

hr {
    width: 12%;
    border: 1px #7E9357 solid;
    margin: 0 0 0 7%;
}

.paragrafo-planta {
    color: #385C0A;
    font-size: 4vw;
    font-weight: 300;
    text-align: center;
}

.camara-icon, .corazon-icon {
    height: 12vw;
    width: 12vw;
    border-radius: 50px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 0.5vw white;
    position: absolute;
    right: 10%;
}

.icon {
    color: #fff;
    margin: 1px;
}

.corazon-icon {
    top: 25%;
}

.camara-icon {
    top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

.contenedor-planta {
    position: relative;
}

button.icon {
    font-size: 2.5vw;
}

button.icon i {
    font-size: 4.5vw;
}