main .contenedor-img {
    position: relative;
    top: -100px;
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

.contenedor-img-planta {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

.planta {
    width: 100%;
    margin-left: auto;    
    margin-right: auto;
    position: relative;
    z-index: 5;
}

.contenedor-img-planta div.resplandor {
    width: 65%;
    height: 65%;
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 74%);
    left: 20%;
} 

.contenedor-img-planta div.elipse {
    border: 1px;
    width: 70%;
    height: 100px;
    position: absolute;
    bottom: 0;
    border-radius: 60%;
    background-color: #FDF8E5;
    z-index: -1;
    box-shadow: 0 10px 0 #E8D09B;
    margin: 0 15%;
}

.gallery-cell {
    width: 100%;
    height: auto;
}
  
/* cell number */
.gallery-cell:before {
    display: block;
}

.ocultar {
    display: hidden;
}