.camara-icon, .corazon-icon {
    height: 13vw;
    width: 13vw;
    border-radius: 50px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 0.6vw white;
    position: absolute;
}

.corazon-icon {
    right: 20%;
    top: 20%;
}

.camara-icon {
    right: 20%;
    top: 45%;
} 