main .contenedor-img {
    position: relative;
    top: -100px;
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-img-planta {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.planta {
    width: 100%;
    margin-left: auto;    
    margin-right: auto;
    position: relative;
    z-index: 5;
    padding-left: 5%;
}

.contenedor-img-planta div.resplandor {
    width: 65%;
    height: 65%;
    position: absolute;
    z-index: 3;
    border-radius: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 74%);
    left: 10%;
} 

.contenedor-img-planta div.elipse {
    border: 1px;
    width: 70%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 23%;
    border-radius: 60%;
    background-color: #FDF8E5;
    z-index: 2;
    box-shadow: 0 10px 0 #E8D09B;
    margin-left: 17%;
    margin-right: 20%;
<<<<<<< HEAD
}

.contenedor-img-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contenedor-img-nav {
    position: absolute;
    top: 50%;
}

.contenedor-img-nav nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}

nav button.swipe {
    background-color: #C1CDAA;
    color: #fff;
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
    border: none;
}

nav button.swipe i {
    font-size: 6.5vw;
}

.icon-volveratras {
    background-color: #7E9357;
    color: #fff;
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
    border: none;
    position: absolute;
    top: 8%;
    left: -25%;
    display: none;
    
=======
>>>>>>> 4025a7fa879631ecb0b4623b12241bb6692964ed
}