.contenedor-amarillo {
    height: 511px;
    width: 360px;
    background-color: #E3C065;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px; 
    z-index: 2;
    position: relative;
    bottom: 400px;
}
    
.resplandor {
    height: 0;
    width: 0;
}

.info-planta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 4;
}

.subtitulo-planta {
    color: white;
    font-weight:100;
    margin: 0;
    padding: 0;
}

.titulo-planta {
    color: #385C0A;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.precio-planta {
    color: #385C0A;
    font-weight: 900;
    font-size: 15vw;
    margin: 0;
    padding: 0;
    
}

hr {
    width: 40px;
    border: 3px #7E9357 solid;
    margin-top: 1px;
    margin-right: 143px;
        
  }

.paragrafo-planta {
    color: #385C0A;
    font-size: 4vw;
    font-weight: 300;
    text-align: center;
}

.camara-icon, .corazon-icon {
    height: 13vw;
    width: 13vw;
    border-radius: 50px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 0.5vw white;
    position: absolute;
}

.corazon-icon {
    right: 20%;
    top: 20%;
}

.camara-icon {
    right: 20%;
    top: 45%;
} 

.contenedor-planta {
    position: relative;
    z-index: 4
}