footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linea-verde {
    background-color: #7E9357;
    height: 2vh;
    width: 100%;
}

.shopping-cart {
    color: #fff;
    background-color:  #7E9357;
    font-size: 24px;
    width: 15vw;
    height: 51px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-bottom: 1.7vh;
}