footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

.linea-verde {
    background-color: #7E9357;
    height: 10px;
}

.shopping-cart {
    width: 93px;
    height: 51px;
    border-radius: 30px;
    border: none;
    background-color:  #7E9357;
    cursor: pointer;
    position: relative;
    top: -8px;
    right: -140px;
}