footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linea-verde {
    background-color: #7E9357;
    height: 4vw;
    max-height: 20px;
    width: 100%;
}

.shopping-cart {
    color: #fff;
    background-color:  #7E9357;
    font-size: 26px;
    width: 27vw;
    max-width: 150px;
    height: 14vw;
    max-height: 80px;
    border-radius: 100vw;
    border: none;
    cursor: pointer;
    margin-bottom: 1vh;
    padding: 1%;
}

button.shopping-cart i {
    font-size: 3.6vh;
}