header {
    position: relative;
    width: 100%;
    z-index: 1;
    color: #527C1E;
}

header div {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header div h1 {
    font-family: 'Beth Ellen', cursive;
    font-size: 6vw;
    margin: 4vw 0 -3.5vh 0;
}

header div h1 img {
    width: 7vw;
    margin: 0 0 0 -2px;
}

header div h2 {
    font-size: 5vw;
    font-family: "bhavuka", sans-serif;
}

header div div.square {
    width: 20vw;
    height: 23vw;
    background-color: rgba(247, 245, 237, 0.808);
    position: absolute;
    top: 0;
    z-index: -1;
}

header div img {
    max-width: 68%;
    margin-left: 40px;
}