header {
    position: absolute;
    width: 100%;
    z-index: 1;
    color: #527C1E;
}

header div {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header h1 {
    font-family: 'Beth Ellen', cursive;
    font-size: 5vw;
    margin: 15px 0 0 0;
}

header h1 img {
    width: 15px;
    margin: 0 0 0 -2px;
}

header h2 {
    font-size: 4vw;
    font-family: "bhavuka", sans-serif;
    margin-top: -2px;
}

.square {
    width: 23vw;
    height: 23vw;
    background-color: rgba(247, 245, 237, 0.808);
    position: absolute;
    top: 0;
    z-index: -1;
}

header img {
    max-width: 68%;
    margin-left: 40px;
}