@media (min-width: 640px) {
    body{
        margin-left: auto;
        margin-right: auto;
              
    }   
    
/* header */

    header {
        align-items: center;
        
    }

    header div h1 {
        font-size: 4vw;
        
    }
    
    header div h1 img {
        width: 3vw;
        margin: 0 0 0 -2px;
    }
    
    header div h2 {
        font-size: 4vw;
        
    }

    header div div.square {
        width: 15vw;
        height: 18vw;
                  
    }

  }
    

